@font-face {
    font-family: Cyberverse;
    src: url('./fonts/Cyberverse.otf');
}
* {
    box-sizing: border-box;
    margin: auto;
}
body {
    background-color: black;
    height: 100vh;
}
.clockBox {
    display: flex;
    color: #2fc6f0;
    font-family: Cyberverse, Arial, Helvetica, sans-serif;
    font-size: 10vw;
    justify-content: center;
    text-shadow: rgba(47,198,240, 90) 0 0 5vw;
    padding-top: 40vh;

}
div.digit{
    flex-direction: row;
    width: 8vw;
    padding: 0;
    margin: 0;
    text-align: center;

}
div.semicolon{
    display: inline;
    width: 4vw;
    padding: 0;
    margin: 0;
}
